<div class="quiz-container">
    <div class="quiz-logo d-flex-column-center">
        <img src="./assets/images/logo.png" alt="Buzzfeed clone" srcset="">
        <h1>{{title}}</h1>
    </div>
    <div class="quiz-questions d-flex-column-center">
        <h3>{{questionSelected.question}}</h3>
    </div>
    <div class="quiz-options">
        <button 
            *ngFor="let option of questionSelected.options; let i = index"
            (click)="playerChoose(option.alias)"
            class="btn-option"
        >
            {{option.name}}
        </button>
    </div>
    <div class="quiz-results d-flex-column-center">
        <h2>Seu resultado é:</h2>
        <p>Resposata selecionada</p>
    </div>
</div>