<div class="quiz-container">
    <div class="quiz-logo d-flex-column-center">
        <img src="./assets/images/logo.png" alt="Buzzfeed clone" srcset="">
        <h1>Título</h1>
    </div>
    <div class="quiz-questions d-flex-column-center">
        <h3>Questão selecionada</h3>
    </div>
    <div class="quiz-options">
        <button class="btn-option">
            optionname
        </button>
    </div>
    <div class="quiz-results d-flex-column-center">
        <h2>Seu resultado é:</h2>
        <p>Resposata selecionada</p>
    </div>
</div>